/*
    Jackfruit base stylerules.
*/
*
{
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    z-index: 1;
}

body
{
    position: absolute;
    width: 100%;
    height: 100%;

    display: inline-block;
}

:root
{
    --jf-padding-small: 5px;
    --jf-padding: 10px;
    --jf-padding-big: 20px;
    --jf-padding-huge: 50px;

    --jf-margin-small: 15px;
    --jf-margin: 30px;
    --jf-margin-big: 60px;
    --jf-margin-huge: 160px;

    --jf-border-radius-small: 3px;
    --jf-border-radius: 5px;
    --jf-border-radius-big: 15px;

    --jf-input-border-color: rgba(0, 0, 0, 0.5);
    --jf-input-border-size: 1px;

    font-family: Arial, Helvetica, sans-serif;
}

/*
    Headings
*/
h1
{
    font-size: 2em;
}

h2
{
    font-size: 1.6em;
}

h3
{
    font-size: 1.3em;
}

h4
{
    font-size: 1.1em;
}

h5
{
    font-size: 0.9em;
}

h6
{
    font-size: 0.7em;
}

/*
    Padding
*/

.no-padding
{
    padding: 0;
}

.padding-small
{
    padding: var(--jf-padding-small);
}

.padding
{
    padding: var(--jf-padding);
}

.padding-big
{
    padding: var(--jf-padding-big);
}

.padding-huge
{
    padding: var(--jf-padding-huge);
}

.no-padding-top
{
    padding-top: 0;
}

.padding-top-small
{
    padding-top: var(--jf-padding-small);
}

.padding-top
{
    padding-top: var(--jf-padding);
}

.padding-top-big
{
    padding-top: var(--jf-padding-big);
}

.padding-top-huge
{
    padding-top: var(--jf-padding-huge);
}

.no-padding-bottom
{
    padding-bottom: 0;
}

.padding-bottom-small
{
    padding-bottom: var(--jf-padding-small);
}

.padding-bottom
{
    padding-bottom: var(--jf-padding);
}

.padding-bottom-big
{
    padding-bottom: var(--jf-padding-big);
}

.padding-bottom-huge
{
    padding-bottom: var(--jf-padding-huge);
}

.no-padding-left
{
    padding-left: 0;
}

.padding-left-small
{
    padding-left: var(--jf-padding-small);
}

.padding-left
{
    padding-left: var(--jf-padding);
}

.padding-left-big
{
    padding-left: var(--jf-padding-big);
}

.padding-left-huge
{
    padding-left: var(--jf-padding-huge);
}

.no-padding-right
{
    padding-right: 0;
}

.padding-right-small
{
    padding-right: var(--jf-padding-small);
}

.padding-right
{
    padding-right: var(--jf-padding);
}

.padding-right-big
{
    padding-right: var(--jf-padding-big);
}

.padding-right-huge
{
    padding-right: var(--jf-padding-huge);
}
/*
    Margin
*/

.no-margin
{
    margin: 0;
}

.margin-small
{
    margin: var(--jf-margin-small);
}

.margin
{
    margin: var(--jf-margin);
}

.margin-big
{
    margin: var(--jf-margin-big);
}

.margin-huge
{
    margin: var(--jf-margin-huge);
}

.no-margin-left
{
    margin-left: 0;
}

.margin-left-small
{
    margin-left: var(--jf-margin-small);
}

.margin-left
{
    margin-left: var(--jf-margin);
}

.margin-left-big
{
    margin-left: var(--jf-margin-big);
}

.margin-left-huge
{
    margin-left: var(--jf-margin-huge);
}

.no-margin-right
{
    margin-right: 0;
}

.margin-right-small
{
    margin-right: var(--jf-margin-small);
}

.margin-right
{
    margin-right: var(--jf-margin);
}

.margin-right-big
{
    margin-right: var(--jf-margin-big);
}

.margin-right-huge
{
    margin-right: var(--jf-margin-huge);
}

.no-margin-top
{
    margin-top: 0;
}

.margin-top-small
{
    margin-top: var(--jf-margin-small);
}

.margin-top
{
    margin-top: var(--jf-margin);
}

.margin-top-big
{
    margin-top: var(--jf-margin-big);
}

.margin-top-huge
{
    margin-top: var(--jf-margin-huge);
}

.no-margin-bottom
{
    margin-bottom: 0;
}

.margin-bottom-small
{
    margin-bottom: var(--jf-margin-small);
}

.margin-bottom
{
    margin-bottom: var(--jf-margin);
}

.margin-bottom-big
{
    margin-bottom: var(--jf-margin-big);
}

.margin-bottom-huge
{
    margin-bottom: var(--jf-margin-huge);
}

/*
    text-align
*/
.text-left, .left-text
{
    text-align: left;
}

.text-center, .center-text
{
    text-align: center;
}

.text-right, .right-text
{
    text-align: right;
}

/*
    Key-value
*/
.key-value
{
    width: 100%;
    display: flex;
    justify-content: space-between;

    padding-bottom: var(--blt-padding);
}

.key-value span:first-child
{
    font-weight: 600;
}

/*
    Styling
*/

.shadow
{
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
}

/*
    Lines, borders
*/

.rounded-small
{
    border-radius: var(--jf-border-radius-small);
}

.rounded
{
    border-radius: var(--jf-border-radius);
}

.rounded-big
{
    border-radius: var(--jf-border-radius-big);
}

.no-lines, .no-borders, .no-border
{
    border: 0;
}

.line, .line-bottom
{
    border-bottom: 1px solid var(--blt-color-2);
    margin-bottom: var(--blt-padding);
}

.line-top
{
    border-top: 1px solid var(--blt-color-2);
    margin-top: var(--blt-padding);
}

.line-left
{
    border-left: 1px solid var(--blt-color-2);
    margin-left: var(--blt-padding);
}

.line-right
{
    border-left: 1px solid var(--blt-color-2);
    margin-right: 1px solid var(--blt-padding);
}

.last
{
    margin-right: 0;
}

/*
    Scroll
*/

.scrollable-y
{
    overflow-y: scroll;
}

.scrollable-x
{
    overflow-x: scroll;
}

.scrollable
{
    overflow: scroll;
}

.has-scrollable-child
{
    overflow: hidden;
}

.word-wrap
{
    word-wrap: break-word;
}

.overflow-hidden
{
    overflow: hidden;
}

.hide-text-overflow, .text-overflow-hidden
{
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.overflow-x-hidden
{
    overflow-y: visible;
    overflow-x: hidden;
    height: auto;
}

.overflow-y-hidden
{
    overflow-x: visible;
    overflow-y: hidden;
}

/*
Reset headers
*/

.reset-header
{
    font-style: normal;
    font-weight: normal;
    font-size: 1em;
}

.reset-link
{
    font-style: normal;
    text-decoration: none;
    color: inherit;
}