/*
    Jackfruit base stylerules.
*/
*
{
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

body
{
    position: absolute;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
}

:root
{
    --jf-padding-small: 5px;
    --jf-padding: 10px;
    --jf-padding-big: 20px;

    --jf-margin-small: 15px;
    --jf-margin: 30px;
    --jf-margin-big: 60px;

    --jf-border-radius-small: 3px;
    --jf-border-radius: 5px;
    --jf-border-radius-big: 15px;

    font-family: Arial, Helvetica, sans-serif;
}

/*
    Headings
*/
h1
{
    font-size: 2em;
}

h2
{
    font-size: 1.6em;
}

h3
{
    font-size: 1.5em;
}

h4
{
    font-size: 1.4em;
}

h5
{
    font-size: 1.3em;
}

h6
{
    font-size: 1.1em;
}

/*
    Padding
*/

.no-padding
{
    padding: 0;
}

.padding-small
{
    padding: var(--jf-padding-small);
}

.padding
{
    padding: var(--jf-padding);
}

.padding-big
{
    padding: var(--jf-padding-big);
}

/*
    Margin
*/

.no-margin
{
    margin: 0;
}

.margin-small
{
    margin: var(--jf-margin-small);
}

.margin
{
    margin: var(--jf-margin);
}

.margin-big
{
    margin: var(--jf-margin-big);
}

.margin-left
{
    margin-left: var(--jf-margin);
}

.margin-right
{
    margin-right: var(--jf-margin);
}

.margin-top
{
    margin-top: var(--jf-margin);
}

.margin-bottom
{
    margin-bottom: var(--jf-margin);
}

/*
    text-align
*/
.text-left
{
    text-align: left;
}

.text-center
{
    text-align: center;
}

.text-right
{
    text-align: right;
}

/*
    Borders
*/

.rounded-small
{
    border-radius: var(--jf-border-radius-small);
}

.rounded
{
    border-radius: var(--jf-border-radius);
}

.rounded-big
{
    border-radius: var(--jf-border-radius-big);
}

/*
    Key-value
*/
.key-value
{
    width: 100%;
    display: flex;
    justify-content: space-between;

    padding-bottom: var(--blt-padding);
}

.key-value span:first-child
{
    font-weight: 600;
}

/*
    Styling
*/

.shadow
{
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
}

.line
{
    border-bottom: 1px solid var(--blt-color-2);
    margin-bottom: var(--blt-padding);
}