.form-group
{
    display: flex;
    flex-direction: column;

    justify-content: stretch;

    padding: var(--jf-padding-small);
}

input
{
    border: var(--jf-input-border-size) solid var(--jf-input-border-color);

    padding: var(--jf-padding-small);
    margin: var(--jf-margin-small);

    border-radius: var(--jf-border-radius);
}

/*
    Controls inside form-groups
*/

.form-group input,
.form-group label
{
    margin-top: 0;
    margin-left: 0;
}

.form-group label
{
    margin-bottom: var(--jf-padding-small);
}
