input
{
    border: var(--jf-input-border-size) solid var(--jf-input-border-color);

    padding: var(--jf-padding-small);
    margin: var(--jf-margin-small);

    border-radius: var(--jf-border-radius);
}